<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://115.28.173.187/Fixer?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false">
		</property>
		<!-- <property name="url"
			value="jdbc:mysql://localhost/Fixer?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false">
		</property> -->
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/fix/model/User.hbm.xml</value>
				<value>com/fix/model/UserInfo.hbm.xml</value>
				<value>com/fix/model/Fault.hbm.xml</value>
				<value>com/fix/model/Order.hbm.xml</value></list>
		</property></bean>
		
		<bean id="userDAO" class="com.fix.dao.impl.UserDAO" >
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="userService" class="com.fix.service.impl.UserService" >
			<property name="userDAO" ref="userDAO"></property>
		</bean>
		<bean id="userAction" class="com.fix.action.UserAction" >
			<property name="userService" ref="userService"></property>
		</bean>
		
		<bean id="faultDAO" class="com.fix.dao.impl.FaultDAO" >
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="faultService" class="com.fix.service.impl.FaultService" >
			<property name="faultDAO" ref="faultDAO"></property>
		</bean>
		<bean id="faultAction" class="com.fix.action.FaultAction" >
			<property name="faultService" ref="faultService"></property>
			<property name="orderService" ref="orderService"></property>
		</bean>
		
		<bean id="orderDAO" class="com.fix.dao.impl.OrderDAO" >
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<bean id="orderService" class="com.fix.service.impl.OrderService" >
			<property name="orderDAO" ref="orderDAO"></property>
		</bean>
		<bean id="orderAction" class="com.fix.action.OrderAction" >
			<property name="orderService" ref="orderService"></property>
			<property name="userService" ref="userService"></property>
		</bean>
		</beans>